<div class='card'>
    <div class='card-header text-center'>
        {{pageTitle}}
    </div>
    <div class='card-body'>
        <div class='container-fluid'>
            <div class='text-left'>
                <p>Hello, and welcome to my site! Here I showcase some of my more polished short stories that I have written over the years. They span different genres and evoke emotions from horror to hope. It is my pleasure to share these with you, and I sincerely wish that you find some entertainment here. Should any of these stories make you feel something and you would like to support me, feel free to send me some spare change through the PayPal link below. Thanks again, and happy reading!</p>
            </div>
        </div>
    </div>
</div>